* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}


.wrapper {
    box-shadow: 0 0 24px;
    margin: 0 auto;
    max-width: 900px;
    padding: 24px;
    width: 80%;
}

input {
    margin: 8px 0;
}